<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <title>Blog de F1</title>
    <link rel="stylesheet" href="/assets/css/style.css">
</head>
<body>
    <header>
        <h1>Blog de F1 🏎️</h1>
        <nav>
            <a href="/">Home</a> |
            <a href="/nova">Nova Postagem</a> |
            <a href="/postagens">Postagens</a>
        </nav>
    </header>
    <main>
        {{{body}}}
    </main>
    <footer>
        <p>&copy; 2025 Blog de F1</p>
    </footer>
</body>
</html>
