<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="UTF-8">
    <title>Blog da F1</title>
    <link rel="stylesheet" href="/assets/css/style.css">
    <link rel="stylesheet" href="/assets/css/sidebar.css">
</head>

<body>
    <header>
        <h1>Blog de F1 🏎️</h1>
        <nav>
            <a href="/">Home</a> |
            <a href="/nova">Nova Postagem</a> |
            <a href="/postagens">Postagens</a>
        </nav>
    </header>

    <main class="main-content">
        <div class="content">
            {{{body}}}
        </div>

        <aside class="sidebar">
            <h2>Classificação Atual - 2025:</h2>
            <p>FONTE: www.espn.com.br/f1</p><br>

            <div class="section">
                <h3>Campeonato de Pilotos:</h3>
                <ul id="listaPilotos"></ul>
            </div>

            <div class="section">
                <h3>Campeonato de Construtores:</h3>
                <ul id="listaEquipes"></ul>
            </div>
        </aside>

        <script src="/assets/js/sidebar.js"></script>

    </main>

    <footer>
        <p>&copy; 2025 - Blog de F1</p>
    </footer>

    <script src="/assets/js/main.js"></script>
</body>

</html>